<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="teabar.ph.com.teabar">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

      <!--  <service android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" >-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider630899240681105"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="fb630899240681105" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.MQService"
            android:enabled="true"
            android:exported="true" />
        <activity android:name=".activity.login.RegisterActivity" />
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.device.EquipmentDetailsActivity" />
        <activity android:name=".activity.device.EqupmentInformActivity" />
        <activity android:name=".activity.device.EqupmentLightActivity" />
        <activity android:name=".activity.device.ChooseColorActvity" />
        <activity android:name=".activity.device.EqupmentWashActivity" />
        <activity android:name=".activity.question.PowerpicActivity" />
        <activity android:name=".activity.my.MyPlanActivity" />
        <activity android:name=".activity.PlanInformActivity" />
        <activity android:name=".activity.MyIssueActivity" />
        <activity android:name=".activity.question.MyQuestionActivity" />
        <activity android:name=".activity.my.SettingActivity" />
        <activity android:name=".activity.ChangePassActivity" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerThemeFullScreen" />
        <activity android:name=".activity.DrinkNumActivity" />
        <activity android:name=".activity.SetDrinkActivity" />
        <activity android:name=".activity.my.PersonnalActivity" />
        <activity android:name=".activity.PersonSetActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.question.QusetionActivity" />
        <activity android:name=".activity.ScoreActivity" />
        <activity android:name=".activity.AnswerPlanActivity" />
        <activity android:name=".activity.device.MakeActivity" />
        <activity android:name=".activity.BuyPlanActivity" />
        <activity android:name=".activity.MethodActivity" />
        <activity android:name=".activity.device.AddMethodActivity" />
        <activity android:name=".activity.SocialInformActivity" />
        <activity android:name=".activity.FriendListActivity" />
        <activity android:name=".activity.chat.AddFriendActivity" />
        <activity android:name=".util.zxing.android.CaptureActivity" />
        <activity android:name=".activity.ImagePagerActivity"
            android:theme="@style/QMUI.Compat.NoActionBar"
            />
        <activity android:name=".activity.YWActivity" />
        <activity android:name=".activity.login.ForgetActivity" />
        <activity android:name=".activity.AddSocialActivity" />
        <activity android:name=".activity.chat.AddFriendActivity1" />
        <activity android:name=".activity.chat.ChatActivity" />
        <activity android:name=".activity.login.GuideActivity" />
        <activity android:name=".activity.my.NearestActivity" />
        <activity android:name=".activity.my.FavoriteActivity" />
        <activity android:name=".activity.device.AddDeviceActivity" />
        <activity android:name=".activity.device.AddMethodActivity1" />
        <activity android:name=".activity.AllCommentActivity" />
        <activity android:name=".activity.EncourageActivity" />
        <activity android:name=".activity.question.RecommendActivity" />
        <activity android:name=".activity.question.BaseQuestionActivity" />
        <activity android:name=".activity.question.Recommend1Activity" />
    </application>

</manifest>